.password-number[type="tel"] {
    -webkit-text-security: disc;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a:link {color: #333333; text-decoration: none; }
a:active {color: #333333; text-decoration: none; }
a:visited {color: #333333; text-decoration: none; }
a:hover {color: #333333; text-decoration: none; }

#loader {
    position: absolute;
    background: rgba(255,255,255,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ANIMATIONS
============================================================================= */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
    to      { transform: translateX(200%); }
}
@-moz-keyframes slideOutRight {  
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(200%); }
}

/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

.application-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.error400 h1 {
    color: #666666;
    padding: 0;
    margin:0;
    font-size: 500%;
}

.error400 h3 {
    color: #444444;
}

.error400 p {
    color: #999999;
}
.no-errors-spacer .md-errors-spacer {
    display: none;
}
/* ANIMATION PAGES */
.fade[ui-view].ng-enter, 
.fade[ui-view].ng-leave {
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}
.fade[ui-view].ng-enter {
    opacity: 0;
}
.fade[ui-view].ng-enter-active {
    opacity: 1;
}
.fade[ui-view].ng-leave {
    opacity: 1;
}
.fade[ui-view].ng-leave-active {
    opacity: 0;
}

.rtl[ui-view].ng-enter,
.rtl[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}   
/* enter animation */
.rtl[ui-view].ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}
/* leave animation */
.rtl[ui-view].ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

.ltr[ui-view].ng-enter,
.ltr[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}
.ltr[ui-view].ng-leave            { 
    -webkit-animation:slideOutRight 0.5s both ease;
    -moz-animation:slideOutRight 0.5s both ease;
    animation:slideOutRight 0.5s both ease;   
}
.ltr[ui-view].ng-enter            { 
    -webkit-animation:slideInLeft 0.5s both ease;
    -moz-animation:slideInLeft 0.5s both ease;
    animation:slideInLeft 0.5s both ease; 
}

md-radio-button {
    margin: 0 !important;
}

p[ng-bind-html], span[ng-bind-html] {
    white-space: pre-line !important;
}

.place-center::-webkit-input-placeholder {
   text-align: center;
}

.place-center:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.place-center::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.place-center:-ms-input-placeholder {  
   text-align: center; 
}

.normal-case {
    text-transform: none !important;
}
a, a:active, a:focus, 
img, img:active, img:focus, 
div, div:active, div:focus, 
md-grid-tile, md-grid-tile:active, md-grid-tile:focus, 
button, button:active, button:focus {
    outline: none;
}

.mouse-disabled,
.mouse-disabled p,
.mouse-disabled span,
.mouse-disabled div,
.mouse-disabled a,
.mouse-disabled small,
.mouse-disabled img,
.mouse-disabled i,
.mouse-disabled md-icon {
    pointer-events: none !important;
}

.muted {
    color: rgba(0, 0, 0, .4);
}

.sleen {
    font-weight: 300 !important;
}

.hint {
    opacity: .5;
    font-size: 70%;
    font-style: italic;
    margin-bottom: 15px;
}

.text-italic {
    font-style: italic;
}

.md-subheader .md-subheader-inner {
    padding-bottom: 5px !important;
}

.pre {
    white-space: pre-line;
}

i.mdi {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    fill: currentColor;
    line-height: 1;
    font-size: 24px;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
}

#uploadButton {
    margin: 0;
}

md-sidenav {
    box-shadow: 0 2px 4px rgba(0,0,0,.3)
}

md-sidenav .side-header {
    padding: 30px 60px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #444444;
}

md-sidenav .active {
    font-weight: bold !important;
    border-bottom: 1px solid rgba(0,0,0,.7);
}

.login-page md-backdrop.md-opaque {
    background-color: rgba(255,255,255,.1);
}

div[scale-image] {
    margin:0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/image_avatar.jpg);
    border: 1px solid rgba(0,0,0,.1);
    width: 100%;
}

.image_of_notes {
    margin:0 10px 10px 0;
    padding: 0;
    position: relative;
}

.image_of_notes .body {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/image_avatar.jpg);
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
    margin: 0;
    padding: 0;
    width: 200px;
    height: 150px;
}
    
.filter-container {
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
}

.filter-container .divider {
    width: 1px;
    margin: 0 30px 0 30px;
    padding: 0;
    display: block;
    border-right: 1px solid rgba(0,0,0,.2);
    height: 50%;
}

.filter-container input[type="search"] {
    width: 100px;
    transition:         width .6s ease;
    -o-transition:      width .6s ease;
    -moz-transition:    width .6s ease;
    -webkit-transition: width .6s ease;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.filter-container input[type="search"]:focus {
    width: 300px;
}

@media screen and (min-width: 1280px) {
    md-sidenav {
        max-width: 100% !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 1280px) {
    md-sidenav .md-button {
        width: 90% !important;
    }
}

.dtp table.dtp-picker-days tr > td > a.selected,
.dtp table.dtp-picker-days tr > td > a.selected.hilite,
.dtp div.dtp-date, .dtp div.dtp-time, .dtp .dtp-hand.on,
.dtp .dtp-actual-meridien a.selected,
.dtp .dtp-picker-time > a.dtp-select-hour.selected {
  background: #3f4fbb !important;
}
 
.dtp table.dtp-picker-days tr > td > a.hilite:not(.selected),
.dtp div.dtp-actual-time.p60 span.selected {
  color: #3f4fbb !important;
}
 
.dtp div.dtp-year-btn, .dtp div.dtp-actual-year, .dtp div.dtp-actual-maxtime {
  color: #ffffff !important;
}
 
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #2c3887 !important;
}

div[ng-messages] div[ng-show] {
    padding-top     : 5px;
    padding-right   : 5px;
    font-size: 12px;
}