<md-button 
    ui-sref="heroStore"
    class="md-fab md-accent md-fab-top-right"
    aria-label="Create">
    <md-icon class="mdi mdi-plus"></md-icon>
    <md-tooltip md-direction="left">
        Create
    </md-tooltip>
</md-button>
<md-content
    layout-fill 
    layout="column"
    class="hero-index"
    when-scrolled="index(false)"
    style="padding-top: 100px;"
    layout-padding>
    <md-list flex>
        <md-list-item aria-label="Empty." ng-show="heroes.length == 0 && !loading">
            <div class="md-list-item-text" flex layout="row" layout-align="center center">
                Empty
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="hero in heroes" layout="row" layout-align="center center">
            <div class="md-list-item-text" layout="column">
                <h3>{{ hero.name }} ({{ hero.special_ability }})</h3>
                <p><span style="text-transform: capitalize;">{{ hero.side }}</span> ({{ hero.points }} <small>points</small>)</p>
            </div>
            <div class="md-secondary" layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-click="delete(hero)">
                    <md-icon class="mdi mdi-delete"></md-icon>
                    <md-tooltip md-direction="left">
                        Delete
                    </md-tooltip>
                </md-button>
            </div>
        </md-list-item>
        <div ng-show="page >= 1" layout="row" layout-align="center center">
            <md-button 
                ng-click="index()"
                class="md-fab md-mini md-primary md-hue-1"
                aria-label="Paginação">
                <md-tooltip md-direction="top">Pagination</md-tooltip>
                <md-icon class="mdi mdi-plus"></md-icon>
            </md-button>
        </div>
    </md-list>
</md-content>