<md-content 
	class="hero-store"
    layout="row"
    layout-fill 
    layout-padding>
    <div layout="column" flex flex-gt-sm="50">
	    <form flex="none" layout="column" name="heroForm" ng-submit="submit()">
			<md-input-container flex="none">
	    		<label>Name:</label>
				<input 
					md-autofocus
					name="hero_name"
					type="text"
					ng-model="hero.name"
					autocorrect="off"
					autocapitalize="words"
					md-maxlength="100"
					required />
				<div ng-messages="heroForm.hero_name.$error">
					<div ng-message="required">This field is required.</div>
					<div ng-message="md-maxlength">The maximum number of characters is 100.</div>
				</div>
			</md-input-container>
		    <md-switch 
		     	flex="none"
		    	class="md-primary" 
		    	ng-model="hero.side" 
		    	ng-true-value="'light'" 
		    	ng-false-value="'dark'" 
		    	ng-init="hero.side = 'dark'"
		    	aria-label="Side">
				<span style="text-transform: capitalize;">{{ hero.side }}</span>
			</md-switch>
			<md-slider-container flex="none">
				<span>Points:</span>
				<md-slider flex min="0" max="1000" ng-model="hero.points" aria-label="Points" id="points-slider"></md-slider>
				<md-input-container md-no-float>
					<input
						md-autofocus
						aria-controls="points-slider" 
						name="hero_points"
						type="text"
						ng-model="hero.points"
						autocorrect="off"
						autocapitalize="words"
						placeholder="0.00"
						required />
					<div ng-messages="heroForm.hero_points.$error">
						<div ng-message="required">This field is required.</div>
					</div>
				</md-input-container>
			</md-slider-container>
		    <md-switch 
		     	flex="none"
		    	class="md-primary" 
		    	ng-model="hero.attack" 
		    	ng-true-value="1" 
		    	ng-false-value="0" 
		    	ng-init="hero.attack = 0"
		    	aria-label="Attach">
				{{ hero.attack ? "Attack" : "No Attack" }}
			</md-switch>
			<div layout="row" style="position: relative; padding-right: 70px;">
				<md-input-container flex>
		    		<label>Speciaal Ability:</label>
					<input 
						md-autofocus
						name="hero_special_ability"
						type="text"
						ng-model="hero.special_ability"
						autocorrect="off"
						autocapitalize="words"
						md-maxlength="50"
						required />
					<div ng-messages="heroForm.hero_special_ability.$error">
						<div ng-message="required">This field is required.</div>
						<div ng-message="md-maxlength">The maximum number of characters is 50.</div>
					</div>
				</md-input-container>
				<md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" style="position: absolute; right: 0; bottom: 30px;">
				    <md-fab-trigger>
				        <md-button aria-label="Menu" class="md-fab md-mini md-primary">
				            <md-icon class="mdi mdi-dots-vertical"></md-icon>
				        </md-button>
				    </md-fab-trigger>
				    <md-fab-actions>
				        <md-button aria-label="Remover" class="md-fab md-mini md-accent" ng-click="hero.special_ability = 'Fire'">
				            <md-icon class="mdi mdi-fire"></md-icon>
				            <md-tooltip md-direction="left">
				                Fire
				            </md-tooltip>
				        </md-button>
				        <md-button aria-label="Remover" class="md-fab md-mini md-accent" ng-click="hero.special_ability = 'Freezing Touch'">
				            <md-icon class="mdi mdi-gesture-two-double-tap"></md-icon>
				            <md-tooltip md-direction="left">
				                Freezing Touch
				            </md-tooltip>
				        </md-button>
				        <md-button aria-label="Remover" class="md-fab md-mini md-accent" ng-click="hero.special_ability = 'Shout'">
				            <md-icon class="mdi mdi-access-point"></md-icon>
				            <md-tooltip md-direction="left">
				                Shout
				            </md-tooltip>
				        </md-button>
				        <md-button aria-label="Remover" class="md-fab md-mini md-accent" ng-click="hero.special_ability = 'Atomic'">
				            <md-icon class="mdi mdi-atom"></md-icon>
				            <md-tooltip md-direction="left">
				                Atomic
				            </md-tooltip>
				        </md-button>
				    </md-fab-actions>
				</md-fab-speed-dial>
			</div>
			<md-button
				ng-disabled="heroForm.$invalid"
				style="margin: 0;"
				class="md-raised md-primary"
				ng-click="submit()">
				Create
			</md-button>
			<input type="submit" hidden ng-disabled="heroForm.$invalid">
	    </form>
		<div flex="none" style="height: 30px;"></div>	
	</div>
</md-content>