<md-content 
	class="team-store"
    layout="row"
    layout-fill 
    layout-padding>
    <div layout="column" flex flex-gt-sm="50">
	    <form flex="none" layout="column" name="teamForm" ng-submit="submit()">
			<md-input-container flex="none">
	    		<label>Name:</label>
				<input 
					md-autofocus
					name="team_name"
					type="text"
					ng-model="team.name"
					autocorrect="off"
					autocapitalize="words"
					md-maxlength="100"
					required />
				<div ng-messages="teamForm.team_name.$error">
					<div ng-message="required">This field is required.</div>
					<div ng-message="md-maxlength">The maximum number of characters is 100.</div>
				</div>
			</md-input-container>
		    <md-switch 
		     	flex="none"
		    	class="md-primary" 
		    	ng-model="filter.side" 
		    	ng-true-value="'light'" 
		    	ng-false-value="'dark'"
		    	ng-init="filter.side = 'dark'"
		    	aria-label="Side"
		    	ng-change="index(true)">
				Side <span style="text-transform: capitalize;" ng-if="filter.side">({{ filter.side }})</span>
			</md-switch>
		    <h1 class="md-display-1">Heroes:</h1>
		    <md-list flex>
		        <md-list-item aria-label="Empty." ng-show="heroes.length == 0 && !loading">
		            <div class="md-list-item-text" flex layout="row" layout-align="center center">
		                Empty
		            </div>
		        </md-list-item>
		        <md-list-item class="md-2-line" ng-repeat="hero in heroes" layout="row" layout-align="center center">
		            <div class="md-list-item-text" layout="column">
		                <h3>{{ hero.name }} ({{ hero.special_ability }})</h3>
		                <p><span style="text-transform: capitalize;">{{ hero.side }}</span> ({{ hero.points }} <small>points</small>)</p>
		            </div>
		            <div class="md-secondary" layout="row" layout-align="center center">
		                <md-checkbox ng-click="toggle(hero, selected)">
			            </md-checkbox>
		            </div>
		        </md-list-item>
		        <div ng-show="page >= 1" layout="row" layout-align="center center">
		            <md-button 
		                ng-click="index()"
		                class="md-fab md-mini md-primary md-hue-1"
		                aria-label="Paginação">
		                <md-tooltip md-direction="top">Pagination</md-tooltip>
		                <md-icon class="mdi mdi-plus"></md-icon>
		            </md-button>
		        </div>
		    </md-list>
			<md-button
				ng-disabled="teamForm.$invalid"
				style="margin: 0;"
				class="md-raised md-primary"
				ng-click="submit()">
				Create
			</md-button>
			<input type="submit" hidden ng-disabled="teamForm.$invalid">
	    </form>
		<div flex="none" style="height: 30px;"></div>	
	</div>
</md-content>