<md-sidenav
    layout-fill
    md-component-id="left"
    class="md-sidenav-left"
    md-is-locked-open="$mdMedia('gt-md')"
    layout="column">
    <div class="side-header" flex="none" layout="column" layout-align="center center">
        <h1 class="md-display-1">Graphem</h1>
    </div>
    <md-content layout="column">
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="heroIndex">
            Heroes
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="teamIndex">
            Teams
        </md-button>
    </md-content>
</md-sidenav>